.container{
    text-align:center ;
    font-family: Arial, Helvetica, sans-serif;
}
.patient{
    font-size: 2rem;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
}
.btnStyle{
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    background-color:#2ecc71;
    color: white;
    border: none;
    border-radius: 5px;
    margin: 5px;
}