.page{
    background-color: #3b3a3a;
    min-height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    background-color: white;
    padding: 40px;
    border-radius: 15px;
    width: 450px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3)
}
.icon{
    font-size: 50px;
    color:#27ae60;
    margin-bottom: 20px;
}
.title{
    color:#27ae60;
    margin-bottom: 20px;
}
.text{
    font-size: 16px;
    margin-bottom: 10px;
    color: #333;
}

.date{
    margin-top: 15px;
    font-size: 17px;
    font-weight: bold;
    color:#2c3e50;
}
.footerText{
    margin-top: 20px;
    font-style: italic;
    color: #555;
}
.button{
    margin-top: 25px;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    background-color: #27ae60;
    color: white;
    font-weight: bolder;
    cursor: pointer;
    transition: 0.3s;
}
