#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: white;
}
.docteur{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px; /* espace entre les cartes */
  align-items: center;
  margin-top: 100px;
}
@media (max-width: 992px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 576px) {
    .container {
        grid-template-columns: 1fr;
    }
}