@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
/* @custom-variant dark (&:where(.dark,.dark *)) */

.test{
    color: red;
}
/*nous permet de definir des couleur et plein d'autre variable qui ne sont pas  presents dans  tailwind css 
exemple tu peux definir une couleurs specifique ou un blur specifique...*/
@theme{
    --color-coleur1:#1CFEBA;
    --font-merriweather:"Merriweather","arial";
}


/*permet de definir des proprites css  par default des elemnts de html */
@layer base{
    a{
        text-decoration:underline;
        color:blue;
    }
}

/*permet de factoriser le code et creer des nouveau composnat comme un boutton au lieu de l'ecrire dans notre html on vas juste utilise la classe btn*/
@layer components{
    .btn{
        @apply bg-orange-500 text-white px-14 py-4 rounded-lg 
            hover:bg-black duration-500 
            cursor-pointer
            mx-auto
            block
            mt-10;
    }
}